torch==2.8.0
kokoro-onnx==0.4.9
funasr
fastapi
uvicorn
python-multipart
misaki
modelscope
accelerate
ordered_set
attrs
jsonschema
onnxruntime
protobuf
typing-extensions
pypinyin
cn2an
pypinyin_dict
einops